* {
    padding: 0;
    margin: 0;
}
.btn, .btn.disabled:active, .btn.disabled:focus, .btn.disabled:hover, .btn:disabled:active, .btn:disabled:focus, .btn:disabled:hover, .jumbotron {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
html {
    scroll-behavior: smooth;
}
label {
    margin: 0;
}
.btn:hover {
    background-color: #82149d !important;
    color: #ffffff;
}
.btn:active {
    background-color: #82149d !important;
    color: #ffffff;
}
.view {
    height: 100%;
    margin-top: -79px;
}
.intro-2 {
    background: url("../img/main.png")no-repeat center center;
    background-size: cover;
}
.navbar {
    z-index: 1;
    background-color: transparent;
    box-shadow: none!important;
}
.logo-img {
    width: 80%;
}
.top-nav-collapse {
    background-color: #4285F4;
}
.m-nav-button {
    line-height: 0.2rem;
    background-color: #0295c0;
}
.m-nav-button:hover {
    background-color: #82149d;
    color: #ffffff;
}
.m-nav-button:active {
    background-color: #82149d;
    color: #ffffff;
}
.main-header-f {
    font-size: 45px;
    margin-bottom: 55px !important;
}
.main-title-f {
    font-size: 24px;
    margin-bottom: 0 !important;
}
.custom-pt {
    padding-top: 30px;
}
.home-first-img {
    animation: home-page-animation 3s infinite;
}
@keyframes home-page-animation {
    from {
        top: -20px;
    }
    50% {
        top: 20px;
    }
    to {
        top: -20px;
    }
}
.team-text-under-main {
    font-size: 20px;
}

.dropdown-menu {
    background-color: rgba(100%, 100%, 100%, 0.85);
    font-family: 'Exo 2', sans-serif;
}
.drop-header {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.header-dropdown-items {
    top: -5px;
    left: -10px;
    z-index: 19;
}
#navbarDropdownMenuLink {
    z-index: 20;
}
.header-dropdown-items a{
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 15px !important;

}
.show > a{
  color: #000000 !important;
}
.main-menu-btn{
    margin: 0;
}
.navbar-toggler-icon {
    height: 30px;
}
.card-link {
    color: #212529;
}
.card-one {
    background: transparent!important;
    box-shadow: none!important;
    border: 1px solid #0295c0;
    border-right: none;
    border-radius: 0;
}
.card-two {
    background: transparent;
    box-shadow: none;
    border: 1px solid #0295c0;
    border-radius: 0;
}
.card-three {
    background: transparent;
    box-shadow: none;
    border: 1px solid #0295c0;
    border-left: none;
    border-radius: 0;
}
.card-cover-one {
    padding-right: 0;
}
.card-cover-two {
    padding-right: 0;
    padding-left: 0;
}
.card-cover-three {
    padding-left: 0;
}
.min-cart-height {
    min-height: 180px;
}
.table-fees {
    width: 100%;
}
.navbar .dropdown-menu {
    top: 50px;
    padding-bottom: 0;
}
.dropdown-menu {
    min-width: 130px;
    max-width: 130px;
    border: none !important;
}
.navbar .dropdown-menu a:hover {
    background-color: rgb(178, 207, 216);
}

.before-triangle {
    width: 130px;
    height: 30px;
    background-color: rgba(100%, 100%, 100%, 0.85);
    position: absolute;
    top: -54px;
    border-radius: .25rem;
}
.dropdown-triangle {
    position: absolute;
    top: -16px;
    left: 20px;
    border: 8px solid transparent;
    border-bottom: 8px solid rgba(100%, 100%, 100%, 0.85);
}
.main-block-btn {
    width: 240px;
    height: 45px;
}
#navbarDropdownMenuOero {
    z-index: 20;
}
.home-page-icon {
    width: 50px;
}
.oreo-dropdown {
    left: -30px;
}
.main-block-btn {
    margin-top: 100px !important;
}
.table-fees td, .table-fees th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #0295c0;
    font-size: 1rem;
    font-weight: 500;
}
footer {
    margin-bottom: 30px;
}
table.table-fees td, table.table-fees th {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
}
.footer-link {
    color: #212121!important;
    font-weight: 500;
}
.footer-img {
    width: 80%;
    position: relative;
    top: -15px;
}
.list-unstyled li {
    margin-bottom: 5px;
}
.first-footer-column p,
.first-footer-column a{
    margin-bottom: 5px;
}
/*white paper*/
.white-paper-lists {
    list-style: none;
    margin-left: 45px;

}
.white-paper-lists a{
    color: #000000;
}
.white-paper-lists-main:not(:first-child) {
    margin-top: 50px;
}
.white-paper-lists-main a{
    color: #000000;
    font-weight: 400;
}
.white-paper-lists-main a:hover,
.white-paper-lists a:hover {
    color: rgb(0, 72, 255);
    text-decoration: underline;
}
.white-paper-lists-main a span {
    margin-right: 25px;
}
.white-paper-lists-article-main {
    font-size: 41px;
    text-transform: uppercase;
    margin-top: 160px;
    margin-bottom: 80px !important;
}
.wp-style {
    font-size: 50px;
}
.wp-left-card {
    border: 1px solid rgb(180,180,180);
}
.wp-center-card {
    border-top: 1px solid rgb(180,180,180);
    border-bottom: 1px solid rgb(180,180,180);
}
.wp-rigth-card {
    border: 1px solid rgb(180,180,180);
}
.wp-left-card,
.wp-center-card,
.wp-rigth-card {
    height: 100px !important;
}
.wp-accordion-btn-block{
    border: none !important;
}
.wp-accordion-btn {
    background: none !important;
}
.wp-accordion-btn::before {
    content: url(../img/icons/wp-triangle.png);
    position: absolute;
    top: 32px;
    left: 42px;
}
.wp-accordion-btn-no-before::before {
    content: "";
}
/*end white paper*/
/*start transparent*/
.transparent-info-number {
    font-size: 25px;
    font-weight: 400;
}
.transparent-info-text {
    color: rgb(41,128,167);
    font-size: 25px;
    font-weight: 400;
}
.transparent-info-link {
    font-size: 16px;
}
.transparent-info-link a {
    color: rgb(22, 43, 134);
}
.transpatent-btn-block-text {
    font-size: 29px;
    font-weight: 300;
}
.transpatent-btn {
    width: 241px;
    height: 46px;
    text-transform: uppercase;
}
.text-left-down {
    padding-left: 60px;
}
.text-left-down::before {
    content: url(../img/icons/quote.png);
    position: absolute;
    left: 0;
    top: 40px;
}
.transparent-link a{
    color:rgb(22, 43, 134);
}

.transparent-link-down {
    font-size: 12px;
    color: rgb(172,174,174);
}
/*end transparent*/
/*Team start*/
.team-main {
    font-size: 50px;
}
.team-text-under-main {
    font-size: 20px;
}
@keyframes home-page-animation {
    from {
        top: -10px;
    }
    50% {
        top: 10px;
    }
    to {
        top: -10px;
    }
}
/*Team end*/
/*MODAL*/
.modal-email {
    height: 40px;
    border: 1px solid rgb(63, 106, 119);
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
}
.modal-pass {
    height: 40px;
    border: 1px solid #545353;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.forgot-pass {
    margin: 0 auto;
}
.captcha-modal-block {
    margin: 0 auto;
}
.modal-btn {
    background-color: rgb(2, 149, 192);
    font-size: 29px;
    height: 50px;
    font-size: 18px;
    border-radius: 3px;
}
.modal-header-my {
    border: none;
}
.modal-login-text {
    font-size: 25px;
    margin-bottom: 0;
    color: rgb(84, 83, 83);
    cursor: pointer;
}
.modal-login-check:checked ~  .modal-login-text {
    border-bottom: 2px solid rgb(10, 153, 194);
    color: #000000;
}
.modal-sign-text {
    font-size: 25px;
    margin-bottom: 0;
    color: rgb(84, 83, 83);
    cursor: pointer;
}
.modal-signin-check:checked ~ .modal-sign-text {
    border-bottom: 2px solid rgb(10, 153, 194);
    color: #000000;
}
.navigation-modal-menu {
    display: flex;
    justify-content: flex-start;
}
.sign-in-container {
    display: none;
}
.rules-text {
    font-size: 12px;
}
.catcha-img {
    width: 55%;
}

.modal-body input[placeholder] {color: #9b9b9b;}
.modal-body input::-moz-placeholder     {color: #9b9b9b;}
.modal-body input::-webkit-input-placeholder {color: #9b9b9b;}
.modal-body input {
    color: #000000 !important;
}
.forgot-pass-text {
    font-size: 12px;
}
.modal-body input {
    border-radius: 5px !important;
}
.custom-control-label::after {
    top: 1px;
}
.custom-checkbox .custom-control-label::before {
    top: 1px;
}
.custom-control-input:checked~.custom-control-label::before {
    top: 1px;
}

/*END MODAL*/
/*user account*/
.account-menu-img {
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.account-menu-user-name {
    font-size: 14px;
    color: rgb(2,149,192);
    font-weight: bold;
}
.left-account-menu-list {
    list-style: none;
}
.account-menu-user-balance {
    color: rgb(222,222,227);
    font-size: 25px;
    font-weight: 700;
}
.user-balance-text {
    color: rgb(222,222,227);
    font-size: 13px;
}
.user-balance-text-under {
    color: rgb(222,222,227);
    font-size: 11px;
}
.left-account-menu {
    background-color: rgb(41,47,91);
}
.money-way-menu-list {
    list-style: none;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
}
.money-way-list:hover {
    background: rgb(18,23,71);
}
.money-way-menu-list-link {
    color: #ffffff;
    margin-bottom: 0 !important;
    cursor: pointer;
}
.money-way-menu-list-link:hover {
    color: #ffffff;
}
.last-dropdown {
    left: -15px;
}
.choice-navigation-variant {
    list-style: none;
}
.choice-navigation {
    border-bottom: 1px solid rgb(229, 229, 229);
}
.right-account-menu {
    background-color: #fff;
}
/*user account end*/
@media only screen and (max-width: 1200px) {
    .min-cart-height {
        min-height: 232px;
    }
    .main-header-f {
        font-size: 50px;
    }
}
@media only screen and (max-width: 991px) {
    .navbar-nav {
        width: 320px;
    }
    .navbar .nav-item .nav-link {
        padding-left: 0;
        padding-right: 0;
    }
    .header-dropdown-items {
        left: -15px;
        background-color: #fff;
    }
    .main-header-f {
        font-size: 50px;
    }
    .home-first-img {
        width: 75%;
    }
    .before-triangle {
        display: none;
    }
    .dropdown-triangle {
        display: none;
    }
    .navigation-menu {
        position: absolute;
        right: 0;
        top: 48px;
        background-color: #0a0c25;
    }
    .show > a{
        color: #268AA8 !important;
    }
    .header-dropdown-items a {
        color: #ffffff !important;
    }
    .view {
        margin-top: 0;
    }
    .main-header-f {
        margin-bottom: 20px !important;
    }
    .main-block-btn {
        margin-top: 20px !important;
    }
    .navbar {
        background-color: #0a0c25;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .navbar .dropdown-menu a {
        width: 280px;
    }
    .menu-mobile-styles > li{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .navbar .header-dropdown-items {
        position: static !important;
        background: none;
    }
    .header-dropdown-items {
        padding-top: 0 !important;
    }
    .header-dropdown-items a {
        text-decoration: none !important;
        padding-left: 0 !important;
    }
    .navigation-link {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .custom-pt {
        padding-top: 10px;
    }
    .card-one {
        border-right: 1px solid #0295c0;
    }
    .card-three {
        border-left: 1px solid #0295c0;
    }
    .card-cover-one {
        padding-right: 15px;
    }
    .card-cover-two {
        padding-right: 15px;
        padding-left: 15px;
    }
    .card-cover-three {
        padding-left: 15px;
    }
    .min-cart-height {
        min-height: auto;
    }
    .footer-col:first-child {
        margin-top: 0 !important;
    }

    .header-hr {
        height: 1px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: rgb(17, 47, 70);
    }
    li > a::after {
        float: right;
        margin-right: 20px;
        position: relative;
        top: 10px;
    }
    li.show > a::after {
        transform: rotate(-90deg);
    }
    .main-menu-btn {
        width: 275px;
        height: 48px;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    /*start white paper*/
    .wp-center-card {
        border: 1px solid rgb(180, 180, 180);
    }
    .white-paper-lists-main a {
        font-weight: 300;
    }
    .oero-transparency-block {
        background: url(../img/whitePaper-mobile-bg.png) no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    /*end white paper*/
    /*start transparent*/
    .transparent-main{
        font-size: 25px;
    }
    .text-left-down {
        padding-left: 0;
        padding-top: 20px;
    }
    .text-left-down::before {
        content: url(../img/icons/mini-qote.png);
        position: absolute;
        left: 25px;
        top: -10px;
    }
    .transparent-under-main {
        font-size: 16px !important;
    }
    .transparent-text{
        font-size: 13px !important;
    }
    /*end transparent*/
    /*start team*/
    .team-main {
        font-size: 25px;
    }
    .team-text-under-main {
        font-size: 12px;
    }
    /*end team*/
}





@media only screen and (max-width: 768px) {
    .main-header-f {
        font-size: 2rem;
    }
    .main-title-f {
        font-size: 16px;
    }

}
@media only screen and (max-width: 767px) {
    .view {
        margin-top: 0;
    }
    /*use cases*/
    .use-img {
        height: 300px;
        margin: 0 auto;
    }
    .table-fees td, .table-fees th {
        font-size: 0.9rem;
    }
    .use-case-img img {
        width: 80%;
        margin-top: -60px;
    }
    /*end use cases*/
    /*start team */
    .team-main {
        font-size: 25px;
    }
    /*end team*/
}
@media only screen and (max-width: 544px) {
    .main-header-f {
        font-size: 25px;
        margin-top: 70px;
    }
    .home-first-img {
        width: 60% !important;
    }
    .main-block-btn {
        width: 175px;
        height: 45px;
    }
    /*use-cases*/
    .use-cases-main {
        font-size: 37px !important;
    }
    .use-cases-text {
        font-size: 16px !important;
    }
    .use-cases-h3-main {
        font-size: 20px !important;
    }
    /*end use-cases*/
    /*white paper*/
    h1.wp-style {
        font-size: 37px;
    }
    .white-paper-lists-article-main {
        font-size: 30px;
    }
    /*end white paper*/
    /*start transparent*/
    .transparent-text {
        font-size: 14px;
    }
    /*end transparent*/
    /*start feed*/
    .table-fees tr td:last-child,
    .table-fees tr th:last-child{
        display: none;
    }
    /*end feed*/
    /*modal start*/
    .modal-sign-text {
        font-size: 20px;
    }
    .modal-login-text {
        font-size: 20px;
    }
    .catcha-img {
        width: 100%;
    }
    /*modal end*/
}
@media only screen and (max-width: 325px) {
    /*use-cases*/
    .use-img {
        height: 200px;
    }
    /*end use-cases*/
}

html,
body,
header
 {
    height: 100%;
}


.list-unstyled > li > a {
    color: black;
}